:root{
  --color-all:#ff9954;
  --line-color: #faf8f9;
  --theme-linear-gradient: linear-gradient(90deg, #fa8c1d, #fcaf3f);
}

body{
  font-size: 14px;
  /* font-family: serif; */
}

/* 隐藏tabbar */
.top-page{
  position: relative;
  z-index: 9;
  height: 100vh;
  background-color: #fff;
  overflow-y: auto;
}

.bottom-gray-line{
  border-bottom: 1px solid var(--line-color);
}