:root{
  --color-all:#ff9954;
}

body{
  font-size: 14px;
  /* font-family: serif; */
}

/* 隐藏tabbar */
.top-page{
  position: relative;
  z-index: 9;
  height: 100vh;
  background-color: #fff;
  overflow-y: auto;
}